<!DOCTYPE html>

<head>
  <title>
    River Builder Component
  </title>
  <style>
    html,
    body {
      user-select: none;
      -webkit-user-select: none;
    }
  </style>
</head>

<body>
  <div id="root"></div>

</body>